* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightseagreen;
    border-bottom: 5px white solid;
    padding: 1rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: lightblue;
}

h2 {
    padding: 27px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}

h3 {
    padding: 20px;
    font-size: 17px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px white;
}

table {
    display: block;
    margin: auto;
    width: 90%;
    padding-top: 20px;
    overflow-x: auto;
    /* white-space: nowrap; */
}

td, th {
    text-align: center;
    border: 10px solid white;
    padding: 20px;
}

td {
    font-size: 12px;
}

.caracteristique h2 {
    font-size: 20px;
    text-decoration: underline;
}

.nav-links {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.bar1, 
.bar2, 
.bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px;
    transition: 0.7s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar  */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar  */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

nav {
    position:absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(7px);
    height: 100vh;
    overflow: hidden;
    width: 0;
    z-index: 3;
}

nav ul {
    position: relative;
    list-style-type: none;
    padding: 20px;
}

.navbar a {
    color: white;
    transition: color .5s;
}

.navbar a:hover {
    color: lightpink;
}

.fit-picture {
    border-radius: 80px;
    width: 80px;
}

#titre {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-image: url(Photos/requinM.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: auto; 
    background-repeat: no-repeat;
    border-bottom: 5px white solid;
}

.description p {
    padding: 25px;
    text-align: justify;
    color: white;
}

.flex-container img {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    border: 10px solid white;
    margin-left: auto;
    margin-right: auto;
}

.flex-container p {
    text-align: center;
    padding: 25px;
}

.shark-banner {
    display: flex;
    justify-content: space-between;
}

.shark-banner img {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}
.shark-banner .container-img {
    width: 49%;
}

.container-img img {
    width: 100%;
    display: block;
    animation: slideDown 7s;
}

.shark2 {
    display: flex;
    justify-content: space-between;
}

.shark2 img {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.shark3 {
    display: flex;
    justify-content: space-between;
}

.shark3 img {
    margin-top: 20px;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
}

.detail {
    padding: 50px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Pacifico', sans-serif;
}

.detail h2 {
    font-size: 27px;
}

.detail1 {
    padding: 50px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Pacifico', sans-serif;

}

.detail1 h2 {
    font-size: 27px;
}

.detail2 {
    padding: 30px;
    text-align: justify;
    font-size: 17px;
    font-family: 'Pacifico', sans-serif;

}

.detail2 h2 {
    font-size: 27px;
}

.asterisque p {
    font-family: 'Pacifico', sans-serif;
    padding:30px;
    font-size: 10px;
    font-style: italic;
}

.Contact h2 {
    background-image: url(Photos/contact.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh; 
    font-size: 20px;
    color: whitesmoke;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    padding-top: 25px;
}

.flex-container p {
    animation: slideDown 10s;
}

@keyframes slideDown {
from {
    transform: translateY (200px);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 2;
}
}

@media screen and (min-width: 415px){

.nav-links {
    display: none;
}

nav {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    justify-content: space-between;
}

.navbar {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: initial;
}

nav, ul{
    display: flex;
    margin:0 30 px;
}

nav, ul, li{ 
    display: flex; 
    align-items: flex-end;
    margin: 0 30px;
    
} 

#titre {
    background-image: initial;
    background-image: url(Photos/Aileron.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

#prezshark {
    display: none;
}

.Contact h2 {
    width: 600px;
    background-size: cover;
    
}

}













